
__pycache__/wordpass.cpython-310.pyc
__pycache__/var.cpython-310.pyc
.qt_for_python/uic/gui.py
.qt_for_python/uic/Interface.py
__pycache__/segredos.cpython-310.pyc
img/LOGO HORIZONTAL_NOVO.png
sandbox.py
